/* Header */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  height: 50px;
  background: white;
  border-bottom: 1px solid #fafafa;
  right: 0px;
  left: 0;
  z-index: 300;
  @media (min-width: 768px) {
    left: 315px;
    z-index: 100;
  }
}

.header-title {
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}
.header-subtitle {
  text-align: center;
  color: #A1A1A1;
  font-size: 11px;
  font-weight: 300;
  font-weight: normal;
  margin-top: 2px;
}
