/* Sidebar */
.sidebar-container {
  background-color: white;
  z-index: 200;
  overflow: scroll;
  height: 100%;
  position: fixed;
  border-right: 1px solid #fafafa;
  width: 75px;
  left: 2px;
  right: 2px;
  top: 50px;
  padding-bottom: 50px;
  @media (min-width: 768px) {
    top: 0px;
    width: 300px;
    left: 15px;
    right: 15px;
  }
}
