<h1>Chat with <%= @addressee.name %></h1>
<div class="container-fluid">
  <%= javascript_pack_tag 'chat' %>
  <div id="chat-room" data-room-id='<%= @addressee.id %>' data-user-id='<%= current_user.id %>'></div>
</div>
