/* Chat */
* {
  font-family: 'Roboto'
}

.chat-container {
  display: flex;
  height: 100%;
  padding-left: 2px;
  padding-right: 2px;
  @media (min-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.messages-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 77px;
  @media (min-width: 768px) {
    margin-left: 315px;
  }
}
.empty-chat {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
  @media (min-width: 768px) {
    margin-left: 315px;
  }
}
