//Chat
.chat-container{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

}

.messages-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 315px;
}

//Sidebar
.sidebar-container {
  background-color: #white;
  width: 300px;
  z-index: 200;
  overflow: scroll;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 15px;
  right: 15px;
  border-right: 1px solid #fafafa;
}

//Filter
.filter {
  background-color: #fafafa;
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 15px 0;
  padding: 0 28px;
  color: black;
  width: 95%;

}

//User
.user-container {
  display: flex;
  margin: 3px 0;
  padding-left: 30px;
}
.active {
  background-color: #F1F0F0;
}
.user-circle-avatar {
  width: 50px;
  height: 50px;
  z-index: 300;
  border-radius: 50%;
  background-color: #3f68af;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.user-name{
  display: flex;
  align-items: center;
  height: 50px;
  z-index: 300;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 300;
  color: black;
}

.user-counter{
  font-size: 10px;
  font-weight: 300;
  font-style: italic;
  width: 20px;
}

//Header
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 15px;
  right: 15px;
  width: 100%;
  height: 50px;
  background: white;
  z-index: 100;
  padding-left: 300px;
  border-bottom: 1px solid #fafafa;
}

.header-title {
  text-align: center;
}

//MessagesList
.messages-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
}

// Message
.sended-container {
  display: flex;
  justify-content: flex-end;
}
.received-container {
  display: flex;
  justify-content: flex-start;
}
.sended-color {
  background-color: #0087FA;
  color: white;
}
.received-color {
  background-color: #F1F0F0;
  color: black;
}
.message {
  display: flex;
  min-width: 30px;
  border-radius: 1.3em;
  margin: 1px 0;
  padding: 6px 12px;
  max-width: 95%
}
.text {
  line-height: 1.28;
  font-weight: 300;
  text-align: start;
  word-wrap: break-word;
}
.time {
  align-self: flex-end;
  padding-left: 10px;
  font-size: 10px;
  font-style: italic;
  font-weight: 100;
  text-align: end;
}
//Input
.input-container {
  position: fixed;
  bottom: 0px;
  left: 15px;
  right: 15px;
  width: 100%;
  height: 50px;
  z-index: 99;
  background: #fafafa;
  border: none;
  outline: none;
  padding-left: 55px;
  padding-right: 55px;
  color: #666;
  font-weight: 300;
  margin-left: 300px;
}

.attachment {
  position: fixed;
  display: block;
  bottom: 8px;
  left: 7px;
  border: none;
  background: #fafafa;
  z-index: 100;
  margin-left: 315px;
}

.send {
  position: fixed;
  display: block;
  bottom: 8px;
  right: 7px;
  border: none;
  background: #fafafa;
  z-index: 100;
}
